.cv-container {
  font-family: 'IBM Plex Sans Thai', sans-serif;
}

.cv-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px;
}

.cv-header-text {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}

.cv-header-line {
  height: 8px;
  width: 460px;
}

.cv-header-position {
  color: #AAAAAA;
  font-size: 40px;
}

.cv-name {
  font-size: 120px;
  color: #1F2937;
  padding: 0 24px 0 0;
}

.cv-nickname {
  font-size: 64px;
  color: #AAAAAA;
}

.cv-avatar-shape {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.cv-avatar {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cv-contact {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  background-color: #FB8E00;
  padding: 16px 24px;
}

.cv-contect-header {
  display: flex;
  justify-content: space-between;
  color: #ffffff;


}

.cv-contect-text {
  padding: 0 24px 0 0;
  font-size: 48px;
}

.cv-icon {
  width: 48px;
  height: 48px;
}

.cv-contact-information {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}

.cv-information-text {
  font-size: 32px;
  font-weight: 300;
}

.ch-icon-white-small {
  width: 32px;
  height: 32px;
}

.cv-personal-data {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  background-color: #ffffff;
  padding: 16px 24px;
}

.cv-personal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #1F2937;
}

.cv-personal-text {
  padding: 0 0 0 24px;
  font-size: 48px;
}

.cv-text-information {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #1F2937;
}

.cv-text-value {
  font-size: 32px;
  font-weight: 300;
  margin: 16px 16px 16px 0px;
}








.ch-body {
  background-color: #1F2937;
}


.ch-container {
  max-width: 1280px;
  margin: 0px auto;
}

.box {
  padding: 40px;
}

.ch-content {

  &.is-padding-bottom {
    padding: 0 0 32px 0;
  }
}

.ch-box-background {
  padding: 32px;
  background-color: #FFFFFF;
}

.ch-name {
  font-family: 'IBM Plex Sans Thai', sans-serif;

  &.is-text-large {
    font-size: 100px;
    font-weight: 500;
  }

  &.is-color-gray {
    color: #1F2937;
  }

}

.ch-partition-line {

  &.is-heading {
    height: 4px;
    background-color: #AAAAAA;
    border-radius: 4px;
  }

  &.is-coreskills {
    width: 4px;
    height: 500px;
    background-color: #AAAAAA;
    border-radius: 4px;
    margin-left: 11px;
  }

}

.ch-position {
  font-family: 'IBM Plex Sans Thai', sans-serif;

  &.is-text-small {
    font-size: 36px;
    font-weight: 500;
  }

  &.is-color-gray-light {
    color: #AAAAAA;
  }
}

.ch-avatar {
  position: relative;
  overflow: hidden;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

// contacts
.ch-background {

  &.is-contact {
    padding: 32px;
    background-color: #FB8E00;
  }

  &.is-work {
    padding: 32px;
    background-color: #E2E2E2;
  }

}

.is-color-white {
  color: #FFFFFF;
}

.is-color-gray {
  color: #1F2937;
}

.is-color-gray-light {
  color: #5c5c5c;
}

.ch-contact-heading {
  font-family: 'IBM Plex Sans Thai', sans-serif;

  &.is-contect-text {
    font-size: 40px;
    font-weight: 500;
  }

}

.ch-icon-white {
  width: 40px;
  height: auto;

  &.is-personal {
    width: 30px;
    height: auto;
  }
}

.ch-icon-ed {
  width: 56px;
  height: auto;
}

.ch-contact-title {
  font-family: 'IBM Plex Sans Thai', sans-serif;

  &.is-contect-title {
    font-size: 32px;
    font-weight: 300;
  }

}

.ch-icon-white-small {
  width: 28px;
  height: auto;
}

.items-center {
  align-items: center;
}

a {
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
    color: #1F2937
  }
}

.space-between {
  padding-bottom: 16px;

  &.is-space-between-left {
    margin-left: 32px;
  }
}

// personal data ,education
.ch-personal-background {
  padding: 32px;
  background-color: #FFFFFF;
}

.ch-bullet {
  position: relative;
  bottom: 3px;
  width: 12px;
  height: 12px;
  border-radius: 6px; // 50%
  border: 2px solid #FB8E00;

  &.is-black-bulett {
    position: relative;
    bottom: 3px;
    width: 12px;
    height: 12px;
    border-radius: 6px; // 50%
    background-color: #1F2937;
    border: 2px solid #1F2937;
  }
}

.ch-text {
  font-family: 'IBM Plex Sans Thai', sans-serif;

  &.is-text-work {
    font-weight: 400;
    font-size: 32px;
  }

  &.is-text-company {
    font-weight: 300;
    font-size: 32px;
  }

  &.is-text-duration {
    font-weight: 300;
    font-size: 28px;
  }
}