.cv-container {
  font-family: "Kanit", sans-serif;
}

.cv-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px;
}

.cv-header-text {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}

.cv-header-line {
  height: 8px;
  width: 460px;
}

.cv-header-position {
  color: #AAAAAA;
  font-size: 40px;
}

.cv-name {
  font-size: 120px;
  color: #1F2937;
  padding: 0 24px 0 0;
}

.cv-nickname {
  font-size: 64px;
  color: #AAAAAA;
}

.cv-avatar-shape {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.cv-avatar {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.cv-contact {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  background-color: #FB8E00;
  padding: 16px 24px;
}

.cv-contect-header {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
}

.cv-contect-text {
  padding: 0 24px 0 0;
  font-size: 48px;
}

.cv-icon {
  width: 48px;
  height: 48px;
}

.cv-contact-information {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}

.cv-information-text {
  font-size: 32px;
  font-weight: 300;
}

.cv-icon-small {
  width: 24px;
  height: 24px;
  margin: 24px 24px 24px 0px;
}

.cv-personal-data {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  background-color: #ffffff;
  padding: 16px 24px;
}

.cv-personal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #1F2937;
}

.cv-personal-text {
  padding: 0 0 0 24px;
  font-size: 48px;
}

.cv-text-information {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #1F2937;
}

.cv-text-value {
  font-size: 32px;
  font-weight: 300;
  margin: 16px 16px 16px 0px;
}

.home-heading {
  background-color: black;
  color: aqua;
  font-size: 56px;
}

.home-container {
  display: flex;
  justify-content: space-between;
  padding: 64px;
  background-color: tomato;
}

.home-avatar-shape {
  position: relative;
  overflow: hidden;
  width: 144px;
  height: 144px;
  border-radius: 50%;
}

.home-avatar {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.home-avatar-description {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.4;
  color: cornsilk;
}

.home-section.home-is-left {
  padding: 0 48 0 48;
  border: 1px solid orange;
  margin: 16px;
}
.home-section.home-is-right {
  padding: 0 48 0 48;
  border: 1px solid rgb(0, 255, 60);
  margin: 24px;
}

.body {
  background-color: #FFFFFF;
  overflow: overlay;
}
.body::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.body::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}
.body::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.6);
}
.body::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 3px;
}

.website-container {
  max-width: 1280px;
  margin: 0 auto;
}/*# sourceMappingURL=main.css.map */